header {
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-style: italic;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button {
  position: fixed;
  bottom: 0;
  left: 1; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 1rem;
  border: none;
  border-radius: 80%;
  width: 25%;
  font-size: 5rem;
  padding: 1rem;
  background-color: red;
  color: aliceblue;

}

.home-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  border: 1px solid;
  width: 40%;
}

.tagline {
  text-align: center;
  font-size: 3rem;
}

.list-item {
  margin: 0 auto;
  margin-top: 2rem;
  width: 50%;
  border: 2px solid red;
  padding: 1rem;
}

.incomplete {
  display: none;
}

svg {
  max-width: 25%;
  display: block;
  margin: 0 auto;
}

a.return-link {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}